section {
  
}
section div.wrap {
  
}
section div.wrap nav.breadcrumb {
  
}
section div.wrap nav.breadcrumb ol {
  
  display: flex;
  gap: 7px;
}
section div.wrap nav.breadcrumb ol li {
  
}
section div.wrap nav.breadcrumb ol li a {
  
}
section div.wrap article.appeal {
  
  padding-top: 150px;
  padding-bottom: 150px;
}
section div.wrap article.appeal hgroup {
  
}
section div.wrap article.appeal hgroup h4 {
  
}
section div.wrap article.appeal hgroup h5 {
  
}
section div.wrap article.appeal p {
  
}
section div.wrap article.appeal p span {
  
}
section div.wrap article.first {
  
}
section div.wrap article.first hgroup {
  
}
section div.wrap article.first hgroup h4 {
  
  font-weight: 300;
  font-size: 30px;
}
section div.wrap article.first hgroup h5 {
  
  font-weight: 300;
  margin: 25px 0 20px 0;
  font-size: 60px;
}
section div.wrap article.first p {
  
  line-height: 1.2;
}
section div.wrap article.first p span {
  
}
section div.wrap article.second {
  
  padding-left: 50%;
}
section div.wrap article.second hgroup {
  
}
section div.wrap article.second hgroup h4 {
  
}
section div.wrap article.second hgroup h5 {
  
}
section div.wrap article.second p {
  
}
section div.wrap article.second p span {
  
}
section div.wrap article.third {
  
}
section div.wrap article.third hgroup {
  
}
section div.wrap article.third hgroup h4 {
  
}
section div.wrap article.third hgroup h5 {
  
}
section div.wrap article.third p {
  
}
section div.wrap article.third p span {
  
}
section div.wrap article.basicinfo {
  
}
section div.wrap article.basicinfo h4 {
  
}
section div.wrap article.basicinfo ul {
  
  padding: 100px 200px;
}
section div.wrap article.basicinfo ul li {
  
}
section div.wrap article.basicinfo ul li strong {
  
}
section div.wrap article.history {
  
}
section div.wrap article.history h4 {
  
}
section div.wrap article.history ul.list {
  
}
section div.wrap article.history ul.list li {
  
}
section div.wrap article.history ul.list li time {
  
}
section div.wrap article.history ul.detail {
  
}
section div.wrap article.history ul.detail li {
  
}
section div.wrap article.history ul.detail li h5 {
  
}
section div.wrap article.history ul.detail li ul {
  
}
section div.wrap article.history ul.detail li ul li time {
  
}